@model IEnumerable<AutoAppHoho.Models.Car>

<div class="container mt-5">
    <h2>Geposte Advertenties</h2>

    <a asp-action="Create" class="btn btn-success mb-3">+ Nieuwe Auto Toevoegen</a>


    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="@car.ImagePath" class="card-img-top" alt="@car.Name">
                    <div class="card-body">
                        <h5 class="card-title">@car.Name</h5>
                        <p class="card-text">@car.FuelType?.Name - @car.Category?.Name</p>
                        <h4 class="text-success">@car.Price.ToString("C")</h4>
                        <p><small>@car.Views weergaven</small></p>
                        <a asp-action="Details" asp-route-id="@car.Id" class="btn btn-info w-100">Bekijk meer</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link">Vorige</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link">Volgende</a></li>
        </ul>
    </nav>
</div>
