@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<AutoAppHoho.Models.Nieuws>

<div class="container mt-5">
    <h2 class="mb-4">@Localizer["LatestNews"]</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary">@Localizer["CreateNews"]</a>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card news-card shadow-lg border-0">
                    <img src="@item.ImagePath" class="card-img-top news-image" alt="@item.Titel">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5 class="card-title text-white fw-bold">@item.Titel</h5>
                        <p class="card-text text-white-50 small">@item.Publicatiedatum.ToString("d MMM yyyy")</p>
                        <a href="@Url.Action("Details", "Nieuws", new { id = item.Id })" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
